<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sc.mapper.customservice.CustomServiceMapper">
    <insert id="addGoodDetails" useGeneratedKeys="true" keyProperty="CM_GOODSDETAILSID">
        insert into TB_GOODSDETAILS ( CM_GOODSID,CM_COLOR, CM_IMAGEPATH,CM_SPEC_STOCK)
        values (#{CM_GOODSID},#{CM_COLOR},#{CM_IMAGEPATH},#{CM_SPEC_STOCK})
    </insert>
</mapper>