<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sc.mapper.userdomain.UserDoMainMapper">
    <resultMap id="OrderState" type="com.sc.domain.userdomain.Order">
        <result column="CM_STATE" property="cmState" jdbcType="VARCHAR"/>
    </resultMap>

    <resultMap id="MyOrdersAll" type="com.sc.domain.userdomain.MyOrders" autoMapping="true">
        <result column="CM_CREATETIME" property="cmCreatetime" jdbcType="DATE"/>
        <result column="CM_ORDERID" property="cmOrderid" jdbcType="VARCHAR"/>
        <result column="CM_NUMBERSUN" property="cmNumbersun" jdbcType="DOUBLE"/>
        <result column="CM_MONEYSUM" property="cmMoneysun" jdbcType="DOUBLE"/>
        <result column="CM_STATE" property="cmState" jdbcType="INTEGER"/>
        <collection property="tbOrderdetails" ofType="com.sc.domain.userdomain.MyOrderDetails">
            <result column="CM_GOODSID2" property="cmGoodsid" jdbcType="VARCHAR"/>
            <result column="CM_MAINFIGUREPATH" property="cmMainfigurepath" jdbcType="VARCHAR"/>
            <result column="CM_TITLE" property="cmTitle" jdbcType="VARCHAR"/>
            <result column="CM_PRESENTPRICE" property="cmPresentprice" jdbcType="DOUBLE"/>
            <result column="CM_MONEY" property="cmMoney" jdbcType="DOUBLE"/>
            <result column="CM_NUMBER" property="cmNumber" jdbcType="INTEGER"/>
            <result column="CM_SELLERID2" property="cmSellerid" jdbcType="VARCHAR"/>
            <result column="CM_SELLERNAME" property="cmSellername" jdbcType="VARCHAR"/>
        </collection>
    </resultMap>

    <resultMap id="MyUnpaiedOrders" type="com.sc.domain.userdomain.MyStateOrders" autoMapping="true">
        <result column="CM_CREATETIME" property="cmCreatetime" jdbcType="DATE"/>
        <result column="CM_ORDERID" property="cmOrderid" jdbcType="VARCHAR"/>
        <result column="CM_NUMBERSUN" property="cmNumbersun" jdbcType="INTEGER"/>
        <result column="CM_MONEYSUN" property="cmMoneysun" jdbcType="DOUBLE"/>
        <result column="CM_ORDERDETAILSIDS" property="cmOrderdetailsids" jdbcType="VARCHAR"/>
        <result column="CM_STATE" property="cmState" jdbcType="INTEGER"/>
        <result column="CM_USERID" property="cmUserid" jdbcType="VARCHAR"/>
        <collection property="tbOrderdetails" ofType="com.sc.domain.userdomain.MyOrderDetails">
            <result column="CM_GOODSID2" property="cmGoodsid" jdbcType="VARCHAR"/>
            <result column="CM_MAINFIGUREPATH" property="cmMainfigurepath" jdbcType="VARCHAR"/>
            <result column="CM_TITLE" property="cmTitle" jdbcType="VARCHAR"/>
            <result column="CM_PRESENTPRICE" property="cmPresentprice" jdbcType="DOUBLE"/>
            <result column="CM_MONEY" property="cmMoney" jdbcType="DOUBLE"/>
            <result column="CM_NUMBER" property="cmNumber" jdbcType="INTEGER"/>
            <result column="CM_SELLERID2" property="cmSellerid" jdbcType="VARCHAR"/>
            <result column="CM_SELLERNAME" property="cmSellername" jdbcType="VARCHAR"/>
        </collection>
    </resultMap>

    <resultMap id="MySettlementOrders" type="com.sc.domain.userdomain.MyStateOrders" autoMapping="true">
        <result column="CM_CREATETIME" property="cmCreatetime" jdbcType="DATE"/>
        <result column="CM_ORDERID" property="cmOrderid" jdbcType="VARCHAR"/>
        <result column="CM_NUMBERSUN" property="cmNumbersun" jdbcType="INTEGER"/>
        <result column="CM_MONEYSUN" property="cmMoneysun" jdbcType="DOUBLE"/>
        <result column="CM_ORDERDETAILSIDS" property="cmOrderdetailsids" jdbcType="VARCHAR"/>
        <result column="CM_STATE" property="cmState" jdbcType="INTEGER"/>
        <result column="CM_USERID" property="cmUserid" jdbcType="VARCHAR"/>
        <collection property="tbOrderdetails" ofType="com.sc.domain.userdomain.MyOrderDetails">
            <result column="CM_GOODSID2" property="cmGoodsid" jdbcType="VARCHAR"/>
            <result column="CM_MAINFIGUREPATH" property="cmMainfigurepath" jdbcType="VARCHAR"/>
            <result column="CM_TITLE" property="cmTitle" jdbcType="VARCHAR"/>
            <result column="CM_PRESENTPRICE" property="cmPresentprice" jdbcType="DOUBLE"/>
            <result column="CM_MONEY" property="cmMoney" jdbcType="DOUBLE"/>
            <result column="CM_NUMBER" property="cmNumber" jdbcType="INTEGER"/>
            <result column="CM_SELLERID2" property="cmSellerid" jdbcType="VARCHAR"/>
            <result column="CM_SELLERNAME" property="cmSellername" jdbcType="VARCHAR"/>
        </collection>
    </resultMap>

    <resultMap id="OrderDetails" type="com.sc.domain.userdomain.OrderDetails" autoMapping="true">
        <result column="CM_CREATETIME" property="cmCreatetime" jdbcType="DATE"/>
        <result column="CM_ORDERID" property="cmOrderid" jdbcType="VARCHAR"/>
        <result column="CM_NUMBERSUN" property="cmNumbersun" jdbcType="INTEGER"/>
        <result column="CM_MONEYSUN" property="cmMoneysun" jdbcType="DOUBLE"/>
        <result column="CM_ORDERDETAILSIDS" property="cmOrderdetailsids" jdbcType="VARCHAR"/>
        <result column="CM_STATE" property="cmState" jdbcType="INTEGER"/>
        <result column="CM_USERID" property="cmUserid" jdbcType="VARCHAR"/>
        <result column="CM_USESCORE" property="cmUsescore" jdbcType="INTEGER"/>
        <result column="CM_NICKNAME" property="cmNickname" jdbcType="VARCHAR"/>
        <result column="CM_PHONE" property="cmPhone" jdbcType="DOUBLE"/>
        <result column="CM_SHOPADDRESS" property="cmShopeaddress" jdbcType="VARCHAR"/>
        <collection property="tbOrderDetails" ofType="com.sc.domain.userdomain.TbOrderDetails">
            <result column="CM_GOODSID2" property="cmGoodsid" jdbcType="VARCHAR"/>
            <result column="CM_MAINFIGUREPATH" property="cmMainfigurepath" jdbcType="VARCHAR"/>
            <result column="CM_TITLE" property="cmTitle" jdbcType="VARCHAR"/>
            <result column="CM_PRESENTPRICE" property="cmPresentprice" jdbcType="DOUBLE"/>
            <result column="CM_MONEY" property="cmMoney" jdbcType="DOUBLE"/>
            <result column="CM_NUMBER" property="cmNumber" jdbcType="INTEGER"/>
            <result column="CM_SPECNUMDETAILS" property="cmSpecnumdetails" jdbcType="VARCHAR"/>
            <result column="CM_SELLERID2" property="cmSellerid" jdbcType="VARCHAR"/>
            <result column="CM_SELLERNAME" property="cmSellername" jdbcType="VARCHAR"/>
            <result column="CM_LOGISTICSID" property="cmLogisticsid" jdbcType="VARCHAR"/>
            <result column="CM_LOGISTICSINFO" property="cmLogisticsinfo" jdbcType="VARCHAR"/>
            <result column="CM_LOGISTICSNUM" property="cmLogisticsnum" jdbcType="VARCHAR"/>
        </collection>
    </resultMap>
    
    <select id="getOrderState" resultMap="OrderState">
        SELECT t1.CM_STATE AS CM_STATE
        FROM TB_ORDERDETAILS AS t0
        LEFT OUTER JOIN TB_ORDERS AS t1 ON t0.CM_ORDERID = t1.CM_ORDERID
        <where>
            (t0.CM_GOODSID = #{cmGoodsid} AND (t0.CM_USERID = #{cmUserid})
        </where>
    </select>

    <select id="getMyOrdersAll" resultMap="MyOrdersAll">
        SELECT
            t0.CM_CREATETIME,
            t0.CM_ORDERID,
            t0.CM_NUMBERSUN,
            t0.CM_MONEYSUN,
            t0.CM_STATE,
            t4.value  AS CM_GOODSID2,
            t4.value2 AS CM_MAINFIGUREPATH,
            t4.value3 AS CM_TITLE,
            t4.value4 AS CM_PRESENTPRICE,
            t4.CM_MONEY,
            t4.CM_NUMBER,
            t4.value5 AS CM_SELLERID2,
            t4.value6 AS CM_SELLERNAME,
            (
                SELECT COUNT(*)
                FROM TB_ORDERDETAILS AS t5
                    LEFT OUTER JOIN TB_GOODS AS t6 ON t5.CM_GOODSID = t6.CM_GOODSID
                    LEFT OUTER JOIN TB_SELLERS AS t7 ON t6.CM_SELLERID = t7.CM_SELLERID
                WHERE t5.CM_ORDERID = t0.CM_ORDERID
            )         AS value2
        FROM TB_ORDERS AS t0
            LEFT OUTER JOIN (
                                SELECT
                                    t2.CM_GOODSID        AS value,
                                    t2.CM_MAINFIGUREPATH AS value2,
                                    t2.CM_TITLE          AS value3,
                                    t2.CM_PRESENTPRICE   AS value4,
                                    t1.CM_MONEY,
                                    t1.CM_NUMBER,
                                    t2.CM_SELLERID       AS value5,
                                    t3.CM_SELLERNAME     AS value6,
                                    t1.CM_ORDERID,
                                    t1.CM_ORDERDETAILSID,
                                    t3.CM_SELLERID
                                FROM TB_ORDERDETAILS AS t1
                                    LEFT OUTER JOIN TB_GOODS AS t2 ON t1.CM_GOODSID = t2.CM_GOODSID
                                    LEFT OUTER JOIN TB_SELLERS AS t3 ON t2.CM_SELLERID = t3.CM_SELLERID
                            ) AS t4 ON t4.CM_ORDERID = t0.CM_ORDERID
        WHERE t0.CM_USERID = #{cmUserID}
        ORDER BY t0.CM_ORDERID, t4.CM_ORDERDETAILSID, t4.value, t4.CM_SELLERID, t0.CM_CREATETIME DESC
    </select>

    <select id="getUnpaiedOrders" resultMap="MyUnpaiedOrders">
        SELECT
            t0.CM_CREATETIME,
            t0.CM_ORDERID,
            t0.CM_NUMBERSUN,
            t0.CM_MONEYSUN,
            t0.CM_ORDERDETAILSIDS,
            t0.CM_STATE,
            t0.CM_USERID,
            t4.value  AS CM_GOODSID2,
            t4.value2 AS CM_MAINFIGUREPATH,
            t4.value3 AS CM_TITLE,
            t4.value4 AS CM_PRESENTPRICE,
            t4.CM_MONEY,
            t4.CM_NUMBER,
            t4.value5 AS CM_SELLERID2,
            t4.value6 AS CM_SELLERNAME,
            (
                SELECT COUNT(*)
                FROM TB_ORDERDETAILS AS t5
                    LEFT OUTER JOIN TB_GOODS AS t6 ON t5.CM_GOODSID = t6.CM_GOODSID
                    LEFT OUTER JOIN TB_SELLERS AS t7 ON t6.CM_SELLERID = t7.CM_SELLERID
                WHERE t5.CM_ORDERID = t0.CM_ORDERID
            )         AS value2
        FROM TB_ORDERS AS t0
            LEFT OUTER JOIN (
                                SELECT
                                    t2.CM_GOODSID        AS value,
                                    t2.CM_MAINFIGUREPATH AS value2,
                                    t2.CM_TITLE          AS value3,
                                    t2.CM_PRESENTPRICE   AS value4,
                                    t1.CM_MONEY,
                                    t1.CM_NUMBER,
                                    t2.CM_SELLERID       AS value5,
                                    t3.CM_SELLERNAME     AS value6,
                                    t1.CM_ORDERID,
                                    t1.CM_ORDERDETAILSID,
                                    t3.CM_SELLERID
                                FROM TB_ORDERDETAILS AS t1
                                    LEFT OUTER JOIN TB_GOODS AS t2 ON t1.CM_GOODSID = t2.CM_GOODSID
                                    LEFT OUTER JOIN TB_SELLERS AS t3 ON t2.CM_SELLERID = t3.CM_SELLERID
                            ) AS t4 ON t4.CM_ORDERID = t0.CM_ORDERID
        WHERE (t0.CM_USERID = #{userId}) AND (t0.CM_STATE = 0)
        ORDER BY t0.CM_ORDERID, t4.CM_ORDERDETAILSID, t4.value, t4.CM_SELLERID, t0.CM_CREATETIME DESC
    </select>

    <select id="getSettlementOrders" resultMap="MySettlementOrders">
        SELECT
        t0.CM_CREATETIME,
        t0.CM_ORDERID,
        t0.CM_NUMBERSUN,
        t0.CM_MONEYSUN,
        t0.CM_ORDERDETAILSIDS,
        t0.CM_STATE,
        t0.CM_USERID,
        t4.value  AS CM_GOODSID2,
        t4.value2 AS CM_MAINFIGUREPATH,
        t4.value3 AS CM_TITLE,
        t4.value4 AS CM_PRESENTPRICE,
        t4.CM_MONEY,
        t4.CM_NUMBER,
        t4.value5 AS CM_SELLERID2,
        t4.value6 AS CM_SELLERNAME,
        (
        SELECT COUNT(*)
        FROM TB_ORDERDETAILS AS t5
        LEFT OUTER JOIN TB_GOODS AS t6 ON t5.CM_GOODSID = t6.CM_GOODSID
        LEFT OUTER JOIN TB_SELLERS AS t7 ON t6.CM_SELLERID = t7.CM_SELLERID
        WHERE t5.CM_ORDERID = t0.CM_ORDERID
        )         AS value2
        FROM TB_ORDERS AS t0
        LEFT OUTER JOIN (
        SELECT
        t2.CM_GOODSID        AS value,
        t2.CM_MAINFIGUREPATH AS value2,
        t2.CM_TITLE          AS value3,
        t2.CM_PRESENTPRICE   AS value4,
        t1.CM_MONEY,
        t1.CM_NUMBER,
        t2.CM_SELLERID       AS value5,
        t3.CM_SELLERNAME     AS value6,
        t1.CM_ORDERID,
        t1.CM_ORDERDETAILSID,
        t3.CM_SELLERID
        FROM TB_ORDERDETAILS AS t1
        LEFT OUTER JOIN TB_GOODS AS t2 ON t1.CM_GOODSID = t2.CM_GOODSID
        LEFT OUTER JOIN TB_SELLERS AS t3 ON t2.CM_SELLERID = t3.CM_SELLERID
        ) AS t4 ON t4.CM_ORDERID = t0.CM_ORDERID
        WHERE (t0.CM_USERID = #{userId}) AND (t0.CM_STATE = 2 OR t0.CM_STATE = 3)
        ORDER BY t0.CM_ORDERID, t4.CM_ORDERDETAILSID, t4.value, t4.CM_SELLERID, t0.CM_CREATETIME DESC
    </select>
    
    <select id="queryOrderDetails" resultMap="OrderDetails">
        SELECT
            t0.CM_CREATETIME,
            t0.CM_ORDERID,
            t0.CM_NUMBERSUN,
            t0.CM_MONEYSUN,
            t0.CM_ORDERDETAILSIDS,
            t0.CM_STATE,
            t0.CM_USERID,
            t0.CM_USESCORE,
            t1.CM_SHOPNAME     AS CM_NICKNAME,
            t1.CM_PHONE        AS CM_PHONE,
            t1.CM_SHOPEADDRESS AS CM_SHOPEADDRESS,
            t5.value           AS CM_GOODSID2,
            t5.value2          AS CM_MAINFIGUREPATH,
            t5.value3          AS CM_TITLE,
            t5.value4          AS CM_PRESENTPRICE,
            t5.CM_MONEY,
            t5.CM_NUMBER,
            t5.CM_SPECNUMDETAILS,
            t5.value5          AS CM_SELLERID2,
            t5.value6          AS CM_SELLERNAME,
            t5.CM_LOGISTICSID,
            t5.CM_LOGISTICSINFO,
            t5.CM_LOGISTICSNUM,
            (
                SELECT COUNT(*)
                FROM TB_ORDERDETAILS AS t6
                    LEFT OUTER JOIN TB_GOODS AS t7 ON t6.CM_GOODSID = t7.CM_GOODSID
                    LEFT OUTER JOIN TB_SELLERS AS t8 ON t7.CM_SELLERID = t8.CM_SELLERID
                WHERE t6.CM_ORDERID = t0.CM_ORDERID
            )                  AS value2
        FROM TB_ORDERS AS t0
            LEFT OUTER JOIN TB_USERS AS t1 ON t0.CM_USERID = t1.CM_USERID
            LEFT OUTER JOIN (
                                SELECT
                                    t3.CM_GOODSID        AS value,
                                    t3.CM_MAINFIGUREPATH AS value2,
                                    t3.CM_TITLE          AS value3,
                                    t3.CM_PRESENTPRICE   AS value4,
                                    t2.CM_MONEY,
                                    t2.CM_NUMBER,
                                    t2.CM_SPECNUMDETAILS,
                                    t3.CM_SELLERID       AS value5,
                                    t4.CM_SELLERNAME     AS value6,
                                    t2.CM_LOGISTICSID,
                                    t2.CM_LOGISTICSINFO,
                                    t2.CM_LOGISTICSNUM,
                                    t2.CM_ORDERID,
                                    t2.CM_ORDERDETAILSID,
                                    t4.CM_SELLERID
                                FROM TB_ORDERDETAILS AS t2
                                    LEFT OUTER JOIN TB_GOODS AS t3 ON t2.CM_GOODSID = t3.CM_GOODSID
                                    LEFT OUTER JOIN TB_SELLERS AS t4 ON t3.CM_SELLERID = t4.CM_SELLERID
                            ) AS t5 ON t5.CM_ORDERID = t0.CM_ORDERID
        WHERE t0.CM_ORDERID = #{orderid}
        ORDER BY t0.CM_ORDERID, t1.CM_USERID, t5.CM_ORDERDETAILSID, t5.value, t5.CM_SELLERID
    </select>

    <select id="getOrderDetails" resultType="com.sc.domain.generator.OrderdetailsWithBLOBs">
        SELECT *
        FROM TB_ORDERDETAILS
        WHERE CM_ORDERID = (SELECT CM_ORDERID
                            FROM TB_ORDERDETAILS
                            WHERE CM_ORDERDETAILSID = #{orderdetailid})
    </select>
</mapper>